body {
    color: #212121;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1.display-4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #212121;
    letter-spacing: -.02em;
    padding-top: .75rem;
}

h2 {
    padding-bottom: .25rem;
}

h3 {
    font-size: 1.5rem;
}

p,
li {
    font-size: 1.1rem;

}

em {
    font-family: 'Lora', serif;
}

blockquote {
    border-left: 5px solid #f1f1f1;
    margin: 2rem 0;
    padding: 1rem 2rem;
}

blockquote p,
blockquote li {
    font-size: 1.5rem !important;
}

/* Alert */

.alert-light {
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    color: #212121;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.alert-light p {
    margin: 0;
    padding: .5rem;
}

/* Lead */

.lead {
    font-size: 1.9rem;
    font-weight: 200;
    padding-top: 1.5rem;
}

.jumbotron .lead {
    font-size: 1.9rem;
    font-weight: 200;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

/* Book specific */

.book-text img {
    margin-top: 1rem;
    max-width: 200px;
}

.book-cover img {
    border: 1px solid #c9c9c9;
}

.book-buy {
    background-color: #AF352E;
    color: #ffffff;
    margin-top: 4rem;
    padding: 2rem 0;
}

.book-buy,
.book-buy h2 {
    color: #ffffff;
}

.book-buy img {
    border: 1px solid #ffffff;
}

p.buy {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.quotes p.lead {
    font-family: 'Lora', serif;
    font-style: italic;
}

/* Links */

a,
a:visited,
a:hover {
    color: #AF352E;
}

main a,
main a:visited {
    text-decoration: underline;
}

main a:hover {
    text-decoration: none;
}

main p,
main li {
    font-size: 1.3rem;
}

/* List group */

.list-group-item {
    border: none;
    padding-left: 0;
    padding-bottom: 2rem;
}

/* Navbar */

.navbar {
    background: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #f1f1f1;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.navbar-nav a,
.navbar-nav a:visited {
    color: #212121;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

/* Jumbotron */

.jumbotron {
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0;
    color: #212121;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.jumbotron {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

/* Section */

.section {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

/* Buttons */

.btn-primary,
a.btn-primary,
a.btn-primary:active,
a.btn-primary:hover,
a.btn-primary:visited,
a.btn,
a.btn:visited,
a.btn:hover {
    border-radius: 5px;
    padding: .75rem;
    text-decoration: none !important;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

a.btn-primary:hover {
    background-color: #AF352E;
    border: 1px solid #ffffff;
}

.btn-primary,
a.btn-primary,
a.btn-primary:visited {
    background-color: #AF352E;
    color: #ffffff;
    border: 1px solid #AF352E;
}

a.btn-primary:hover {
    background-color: #ffffff;
    color: #AF352E;
    border: 1px solid #AF352E;
}

a.btn,
a.btn:visited {
    background-color: #ffffff;
    color: #AF352E;
    border: 1px solid #AF352E;
}

a.btn:hover {
    background-color: #AF352E;
    color: #ffffff;
    border: 1px solid #ffffff;
}

/* Footer */

.footer {
    background: #ffffff;
    color: #212121;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.footer,
.footer h2 {
    color: #212121;
}

.footer a,
.footer a:visited {
    color: #212121;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .fa,
.footer .fas,
.footer .fab {
    color: #AF352E;
    margin: 0 1rem 0 0;
}

.footer p {
    margin: 0;
    padding: .5em 0;
}