---
layout: page
---
<div class="alert alert-light" role="alert">
    <p><a href="/contact">Contact John</a> for press inquiries.</p>
</div>

{% assign groups_written = site.data.press.docs | where: "category","written" %}
{% assign groups_audio = site.data.press.docs | where: "category","audio" %}
{% assign groups_video = site.data.press.docs | where: "category","video" %}
{% assign groups_mention = site.data.press.docs | where: "category","mention" %}

{{groups}}
<h2><b>Video</b></h2>
{% for item in groups_video %}
    <p><a href="{{ item.url }}">{{ item.title }}</a><br>
       <em>{{ item.source }}</em></p>
{% endfor %}
<h2><b>Podcasts, Radio</b></h2>
{% for item in groups_audio %}
    <p><a href="{{ item.url }}">{{ item.title }}</a><br>
       <em>{{ item.source }}</em></p>
{% endfor %}
<h2><b>Articles</b></h2>
{% for item in groups_written %}
    <p><a href="{{ item.url }}">{{ item.title }}</a><br>
       <em>{{ item.source }}</em></p>
{% endfor %}
<h2><b>Featured in</b></h2>
{% for item in groups_mention %}
    <p><a href="{{ item.url }}">{{ item.title }}</a><br>
       <em>{{ item.source }}</em></p>
{% endfor %}
